.projects {
	margin-top: 5.625rem;
}

.projects h2{
	margin-bottom: 1.5625rem;
}
.projects ul {
	display: grid;
	gap: 1.5625rem;
    margin-bottom: 2rem;
}

.projects li {
	display: grid;
    grid-template-columns: 1fr;
	justify-content: space-between;
	padding: 1rem;
	border: 1px solid var(--white);
    max-width: 50%;
	border-radius: 25px;
}

/* .projects li > div{
	padding: 0.8125rem;
	gap: 1.0625rem;
} */

.projects img {
	max-height: 2.375rem;
}


@media ( min-width: 700px){
	
	.projects ul{
		grid-template-columns: 1fr 1fr;
		width: 100%;
        max-width: 50rem;
		justify-content: space-between;

	}

	.projects li{
        
		min-width: 27.1875rem;
	}
}